body {
    background-color:black;
    font-family:Courier, "Courier New", monospace;
    font-size:18pt;
    color:green;
}

.prompt {
    background-color:black;
    font-family:Courier, "Courier New", monospace;
    font-size:18pt;
    color:green;
    border:0px;
}

.old {
  font-size:12pt;
}

.output {
  font-size:14pt;
}

#cursor {
    background-color:green;
}

#history {
    font-size:50%;
}

